{% extends 'default_frame.twig' %}
{% block main %}
<div id="">
	<div class="row">
		<div class="col-sm-12 text-center">
			<h2 class="title">パスワード発行メールの送信 完了</h2>
			<p>ご登録メールアドレスにパスワードを再発行するためのメールを送信いたしました。<br/>
			メールの内容をご確認いただきますよう、お願いいたします。</p>
		</div>
	</div>

	<div id="contents" class="main_only">
		<div id="">
			<div id="complete_wrap" class="">
				<div id="complete_box" class="row">
					<div id="complete_box__body" class="col-md-10 col-md-offset-1">
						<div id="complete_box__message" class="complete_message">
							<h2 class="mb20">パスワード再発行メールの送信が完了しました。</h2>
							<p>※メールが届かない場合はメールアドレスをご確認の上、再度お試しください。</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}


