{% extends 'default_frame.twig' %}
{% block main %}
<div id="">
	<div class="row">
		<div class="col-sm-12 text-center">
			<h2 class="title">パスワード変更(完了ページ)</h2>
			<p>新しいパスワード送り致しましたので、メールをご確認ください。</p>
		</div>
	</div>

	<div id="contents" class="main_only">
		<div id="reset_wrap" class="">
			<div id="">
				<div id="reset_box" class="">
					<div id="reset_box__body" class="row">
						<div id="reset_box__message" class="col-md-10 col-md-offset-1">
							<h2 class="text-center">新しいパスワードが送信されました。</h2>
							<p>今後ともご愛顧賜りますようよろしくお願い申し上げます。</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}


