{#
Copyright(c) 2016 MDL Paygent, Inc. All rights reserved.
http://www.paygent.co.jp/
#}
{% block main %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf8 ">
<meta http-equiv="content-script-type" content="text/javascript" />

</head>

<body>
<br />
<form name="form1" id="form1" method="post" action="" target="main">
<input type="hidden" name="mode" value="search">
<input type="button" value="閉じる" onclick="window.close();">
</form>
</body>
</html>

{% endblock %}