{#
Copyright(c) 2016 MDL Paygent, Inc. All rights reserved.
http://www.paygent.co.jp/
#}

{% block javascript %}
    <style type="text/css">
		.atm{
		font-family: Roboto, "游ゴシック", YuGothic, "Yu Gothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Arial, "メイリオ", Meiryo, sans-serif;
    	line-height: 1.4;
    	font-size: 1.6rem;
    	font-weight: normal;
		}
    </style>
{% endblock %}

{% block main %}
	<p class ="atm">
		{% if arrOther is not null %}
			{% if arrOther.title.value %}
				<span style="color:red">■{{ arrOther.title.name }}情報</span><br>
				{% for key,item in arrOther %}
					{% if key != 'title' %}
						{% if item.name is not null %}{% if item.name !='' %}{{ item.name }}：{% endif %}{% endif %}{{ item.value }}<br>
					{% endif %}
				{% endfor %}
			{% endif %}
		{% endif %}
	</p>
{% endblock %}
