                    <div class="mb10">
						<a href="https://www.facebook.com/pg/kimono.rental.aki.tokyo/photos/?tab=photos_albums">
							<img src="{{ app.config.front_urlpath }}/img/common/voice_bar.jpg" alt="着物レンタルあきをご利用したお客様の声" class="img-responsive hidden-xs">
							<img src="{{ app.config.front_urlpath }}/img/common/voice_bar_sp.jpg" alt="着物レンタルあきをご利用したお客様の声" class="img-responsive visible-xs">
						</a>
                    </div>
                    