    <div class="container">
        <div class="row pb00">
            <div class="col-md-4 mb20">
                <p style="font-size: 24px;text-align: center;">着物レンタルあき</p>
                        <div class="col-md-12 text-center mb10">
                            <small class="mt10 text-center" style="font-size: 12px;">着物のことならお気軽にお問い合わせ下さい</small>
                        </div>
                        <div class="row pa10 well well-sm mb10" style="background-color: #267349;border:none;">
                            <div class="col-md-6 col-xs-6 text-center">
								<a class="btn btn-lg" data-toggle="modal" data-target="#footer_tel" style="padding: 0;"><b class="center-block"><img src="/template/aki/img/common/tel_icon_sp02.svg" style="width: 60px; height: 60px; color: white;"></b></a>
								<p class="mt10" style="font-size:12px;margin: 0;">※火曜日定休</p> 
                                <div class="modal" id="footer_tel" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content" style="position:static;">
                                            <div class="modal-header">
                                                <h5 class="modal-title text-center" id="exampleModalLabel">電話する店舗をお選び下さい</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">        
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="panel panel-success">
                                                    <div class="panel-heading pa05" style="font-weight: bold;">
                                                        渋谷本店
                                                    </div>
                                                    <div class="panel-body pa05">
                                                        <a href="tel:03-3476-3341" style="font-size: 20px; color: #0000ff;">03-3476-3341</a>
                                                    </div>
                                                </div>
                                                <div class="panel panel-success">
                                                    <div class="panel-heading pa05" style="font-weight: bold;">
                                                        池袋店
                                                    </div>
                                                    <div class="panel-body pa05">
                                                        <a href="tel:03-6416-0529" style="font-size: 20px; color: #0000ff;">03-6416-0529</a>
                                                    </div>
                                                </div>
                                                <div class="panel panel-success">
                                                    <div class="panel-heading pa05" style="font-weight: bold;">
                                                        銀座店
                                                    </div>
                                                    <div class="panel-body pa05">
                                                        <a href="tel:03-5568-0529" style="font-size: 20px; color: #0000ff;">03-5568-0529</a>
                                                    </div>
                                                </div>
                                                <div class="panel panel-success">
                                                    <div class="panel-heading pa05" style="font-weight: bold;">
                                                        横浜店
                                                    </div>
                                                    <div class="panel-body pa05">
                                                        <a href="tel:045-441-0529" style="font-size: 20px; color: #0000ff;">045-441-0529</a>
                                                    </div>
                                                </div>
                                                
                                                <button type="button" class="btn btn-secondary btn-primary center-block" data-dismiss="modal">閉じる</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <style>
                                .modal-backdrop {
            /*                      position:static;*/
                                    z-index: inherit;
                                }
                                </style>
                            </div>
                            <div class="col-md-6 col-xs-6 text-center">
								<a href="/contact" class="btn btn-lg" style="padding: 0;"><img src="/template/aki/img/common/mail_sp_icon02.svg" style="width: 60px; height: 60px; color: white;"></a>
                            </div>
                        </div>
                        <!-- <div class="row text-center">
                            <div class="col-sm-12">
                                （現在10：00～18：00での短縮営業をさせていただいております）
                            </div>
                        </div> -->
                        <div class="mb10">
                            <form class="" method="get" action="/products/list">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="name" placeholder="商品名・品番で検索">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit"><i class="zmdi zmdi-search"></i></button>
                                    </span>
                                </div>
                            </form>
                        </div>
        </div>
            <div class="col-md-8">
                <div class="row pb00">
                    <div class="col-md-4 col-xs-6">
                        <ul class="disc">
                            <li><a href="/user_data/choose">着物の選び方</a></li>
                            <li><a href="/user_data/good_point">こだわり</a></li>
                            <li><a href="/user_data/service">サービス</a></li>
                            <li><a href="/user_data/flow">ご利用の流れ</a></li>
                            <li><a href="/user_data/faq">よくある質問</a></li>
                            <li>店舗情報
                                <ul>
                                    <li><a href="/user_data/shop/shibuya">渋谷本店</a></li>
                                    <li><a href="/user_data/shop/ginza">銀座店</a></li>
                                    <li><a href="/user_data/shop/ikebukuro">池袋店</a></li>
                                    <li><a href="/user_data/shop/yokohama">横浜店</a></li>
                                </ul>
                            </li>
                            <li><a href="/help/about">会社概要</a></li>
                            <li><a href="/contact">お問い合わせ</a></li>
                            <li><a href="/help/tradelaw">特定商取引法に基づく表記</a></li>
                            <li><a href="/help/privacy">個人情報の取り扱い</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-xs-6">
                        <ul class="disc">
                            <li><a href="/products/list?category_id=53">振袖レンタル</a></li>
                            <li><a href="/products/list?category_id=52">黒留袖レンタル</a></li>
                            <li><a href="/products/list?category_id=51">色留袖レンタル</a></li>
                            <li><a href="/user_data/houmongi" onclick="gtag('event', 'クリック', {'event_category': 'リンク','event_label': 'フッター_訪問着レンタル'});">訪問着レンタル</a></li>
                            <li><a href="/products/list?category_id=34">婚礼衣装レンタル</a></li>
                            <li><a href="/products/list?category_id=38">産着・お宮参り</a></li>
                            <li><a href="/user_data/753">七五三着物・十三詣りレンタル</a></li>
                            <li><a href="/products/list?category_id=49">色無地レンタル</a></li>
                            <li><a href="/products/list?category_id=40">卒業袴レンタル</a></li>
                            <li><a href="/user_data/mens">男着物レンタル</a></li>
                            <li><a href="/products/list?category_id=48">小紋レンタル</a></li>
                            <li><a href="/products/list?category_id=47">つむぎレンタル</a></li>
                            <li><a href="/user_data/hitoenatu">ひとえ・夏物レンタル</a></li>
                            <li><a href="/user_data/yukata">浴衣レンタル</a></li>
                            <li><a href="/products/list?category_id=157">喪服レンタル</a></li>
                            <li><a href="/user_data/753">七五三レンタル</a></li>
                            <li><a href="/user_data/seijin">成人式</a></li>
                            <li><a href="/user_data/hakama">卒業袴レンタル</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-xs-6">
                        <ul class="disc">
                            <li><a href="/user_data/for_organization">法人・団体のお客様へお得プランのご案内</a></li>
                            <li><a href="/user_data/service/shop_rental">来店着付レンタル</a></li>
                            <li><a href="/user_data/service#s03">出張着付けサービス</a></li>
                            <li><a href="/user_data/service/hairset_makeupcare">ヘアーセット・メイクアップ</a></li>
                            <li><a href="/user_data/service#s02">写真撮影プラン</a></li>
                            <li><a href="/user_data/service/delivery_rental">宅配着物レンタル</a></li>
							<li><a href="/wpaki/question">教えてあべ先生 Q&A</a></li>
                        </ul>
                        <ul class="disc">
                            <li><a href="/user_data/cancel">ご利用ガイド<br>（キャンセル・ご延滞・返品・交換・ご利用時のトラブルのお願いについて）</a></li>
                            <li><a href="/user_data/shipping_return">ご配送とご返却について</a></li>
                        </ul>
                        <ul class="disc">
                            <li><a href="/mypage/login">MYページ</a></li>
                            <li><a href="/cart">レンタルかご</a></li>
                        </ul>
                    </div>
                </div>
            </div>
			<div class="container">
				<div class="row pb00">
					<div class="col-md-12">
						<p class="text-center">Copyright &copy; 2005 - <script>document.write(new Date().getFullYear());</script> 着物レンタルあき All rights reserved.</p>
					</div>
				</div>
			</div>
    </div>
	<div class="col-sm-12 visible-xs potision">
        <div id="link_text">
			<a class="btn btn-lg float-btn tel-float-btn" data-toggle="modal" data-target="#exampleModal" onclick="gtag('event', 'クリック', {'event_category': 'フローティングボタン','event_label': 'フローティングボタン（電話アイコン+メール）'});">
				<img src="/template/aki/img/common/contact_icon.svg" alt="着物レンタルあき　お問い合わせ">
    		</a>
<!--
			<a href="/contact" class="btn btn-lg float-btn mail-float-btn" onclick="gtag('event', 'クリック', {'event_category': 'フローティングボタン','event_label': 'フローティングボタン（メールアイコン）'});">
    			<img src="/template/aki/img/common/mail_sp_icon02.svg" style="width: 60px; height: 60px; color: white;" alt="test">
    		</a>
-->
    		<div class="modal" id="exampleModal" role="dialog" aria-hidden="true">
    			<div class="modal-dialog" role="document">
    				<div class="modal-content" style="position:static;">
    					<div class="modal-header text-center">
<!--						<p class="mb10">当日にご利用を希望される方もお気軽にお問い合わせください</p>-->
                            <!-- <div class="container">
                                <div class="col-sm-12 pt10 mb30" style="border: 1px solid #739a5f;">
                                    <h4>渋谷本店 電話不通・代替番号のお知らせ</h4>
                                    <p class="pa10 mb20 text-left">
                                    渋谷本店の電話が故障により不通となっております。お客様には大変ご迷惑をおかけしておりますこと心よりお詫び申し上げます。<br>
                                    復旧までの間、下記代替番号までご連絡いただけますようお願いいたします。<br>
                                    <br>
                                    <a href="tel:08040088624">TEL： 080-4008-8624</a>　<a href="tel:08072352654">TEL： 080-7235-2654</a><br>
                                    <br>
                                    <a href="/contact" style="color: #337ab7; text-decoration: underline;">→ 問い合わせフォーム</a>
                                    </p>
                                </div>
                            </div> -->
                            <h5 class="modal-title" id="exampleModalLabel">電話する店舗をお選び下さい</h5>
							<p class="mt30">
                               当店では現在下記短縮営業時間でのご案内とさせていただいております。<br>
                               <br>
								【平日・週末ともに】10：00～18：00<br>
                                <small>※事前予約にて19：30迄ご利用いただけます。</small><br>
                                【定休日】火曜日（祝日の場合 10：00～18：00 営業）<br>
								<small>※時間外でのご利用も承りますのでお問合せ下さい</small><br>
                                <br>
                                <a href="/user_data/reservation" style="color: #337ab7; text-decoration: underline;">→ 詳細はこちらをご覧ください。</a>
							</p>
    						<button type="button" class="close" data-dismiss="modal" aria-label="Close">		
    						</button>
    					</div>
    					<div class="modal-body">
    						<div class="panel panel-success">
    							<div class="panel-heading pa05" style="font-weight: bold;">
    								渋谷本店
    							</div>
    							<div class="panel-body pa05">
    								<a href="tel:03-3476-3341" style="font-size: 20px; color: #0000ff;">03-3476-3341</a><br>
    							</div>
    						</div>
    						<div class="panel panel-success">
    							<div class="panel-heading pa05" style="font-weight: bold;">
    								池袋店
    							</div>
    							<div class="panel-body pa05">
    								<a href="tel:03-6416-0529" style="font-size: 20px; color: #0000ff;">03-6416-0529</a>
    							</div>
    						</div>
    						<div class="panel panel-success">
    							<div class="panel-heading pa05" style="font-weight: bold;">
    								銀座店
    							</div>
    							<div class="panel-body pa05">
    								<a href="tel:03-5568-0529" style="font-size: 20px; color: #0000ff;">03-5568-0529</a>
    							</div>
    						</div>
    						<div class="panel panel-success">
    							<div class="panel-heading pa05" style="font-weight: bold;">
    								横浜店
    							</div>
    							<div class="panel-body pa05">
    								<a href="tel:045-441-0529" style="font-size: 20px; color: #0000ff;">045-441-0529</a>
    							</div>
    						</div>
							<a href="/contact" class="btn-red center-block text-center fs13 mb20">メールでお問い合わせ</a>
							<div class="text-center">
   								<button type="button" class="btn btn-default center-block" data-dismiss="modal">閉じる</button>
							</div>
    					</div>
    				</div>
    			</div>
    		</div>
        </div>
	</div>