<section class="block" id="instagram">
		<div class="row">
			<div class="col-sm-12 text-center">
				<div class="">
					<h2 class="title">Instagram</h2>
					<p>#着物レンタルあきでUPしよう！</p>
				</div>
			</div>
		</div>
</section>
<section class="insta_block">
	<div class="row col-12">
		<!-- SnapWidget -->
		<script src="https://snapwidget.com/js/snapwidget.js"></script>
		<iframe src="https://snapwidget.com/embed/773455" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden;  width:100%; "></iframe>
	</div>
</section>