<section class="block mb20">

		<div class="row">
			<div class="col-sm-12 text-center">
				<h2 class="title mb10">人気<span>の</span>キーワード<span>から</span>探す</h2>
			</div>
			<div class="col-sm-12">
				<div class="pa20" style="background: #f2fff4; color: #739a5f; line-height: 25px;">
					<a class="mr10 text-center" href="/user_data/yukata" onclick="gtag('event', 'クリック', {'event_category': 'TOP人気キーワード','event_label': '人気キーワードから探す_浴衣_レンタル'});"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="color: #C9DFB9;"></span>浴衣 レンタル</a>
					<a class="mr10 text-center" href="/user_data/choose/fireworks_festival"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="color: #C9DFB9;"></span>レンタル浴衣 </a>
					<a class="mr10 text-center" href="/user_data/spring"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="color: #C9DFB9;"></span>春の結婚式・パーティ レンタル</a>
					<a class="mr10 text-center" href="/user_data/choose/wedding"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="color: #C9DFB9;"></span>結婚式 レンタル</a>
					<a class="mr10 text-center" href="/user_data/choose/wedding"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="color: #C9DFB9;"></span>婚礼衣装 レンタル</a>
					<a class="mr10 text-center" href="/products/list?category_id=50" onclick="gtag('event', 'クリック', {'event_category': 'TOP人気キーワード','event_label': '人気キーワードから探す_訪問着_レンタル'});"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="color: #C9DFB9;"></span>訪問着 レンタル</a>					
					<a class="mr10 text-center" href="/products/list?category_id=53"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="color: #C9DFB9;"></span>振袖 レンタル</a>
					<a class="mr10 text-center" href="/products/list?category_id=51"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="color: #C9DFB9;"></span>留袖 レンタル</a>
					<a class="mr10 text-center" href="/user_data/fall"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="color: #C9DFB9;"></span>結婚式 着物</a>
					<a class="mr10 text-center" href="/user_data/fall"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="color: #C9DFB9;"></span>結婚式 訪問着 色</a>
					<a class="mr10 text-center" href="/user_data/shop/yokohama"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="color: #C9DFB9;"></span>着物 レンタル 横浜</a>
					<a class="mr10 text-center" href="/user_data/shop/shibuya"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="color: #C9DFB9;"></span>渋谷 着物 レンタル</a>
					<a class="mr10 text-center" href="/user_data/shop/ginza"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="color: #C9DFB9;"></span>銀座 着物 レンタル</a>
					<a class="mr10 text-center" href="/user_data/753" onclick="gtag('event', 'クリック', {'event_category': 'TOP人気キーワード','event_label': '人気キーワードから探す_七五三_着物_レンタル'});"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="color: #C9DFB9;"></span>七五三 着物 レンタル</a>
					<a class="mr10 text-center" href="/user_data/seijin"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="color: #C9DFB9;"></span>成人式 振袖 レンタル</a>
					<a class="mr10 text-center" href="/user_data/hakama"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="color: #C9DFB9;"></span>卒業袴 レンタル</a>
                    <a class="mr10 text-center" href="/products/list?category_id=40"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="color: #C9DFB9;"></span>袴 レンタル</a>
					<a class="mr10 text-center" href="/user_data/sotsunyugaku" onclick="gtag('event', 'クリック', {'event_category': 'TOP人気キーワード','event_label': '人気キーワードから探す_入園式・入学式 母親 着物 レンタル'});"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="color: #C9DFB9;"></span>入園式・入学式 母親 着物 レンタル</a>
				</div>
			</div>
		</div>
</section>