<section class="news">
						<div class="row">
							<div class="col-sm-12">
								<h3 class="title">着物あれこれ</h3>
								<div class="">
									<dl class="dl-horizontal">
										<dt>振袖</dt>
										<dd>
											現在着られている振袖は、江戸時代にできたと言われています。機能上、長い袖は不便なものですが、平安な世の中になるとともに人々も装いに華美さを求め、袖丈も長くなったのです。また同時期、娘に舞踏を習わせる親が増え、身振りを美しく見せるためでもあったそうです。いずれにせよ着物というものが、日本の文化の成熟と共に発展したことを感じさせてくれます。 現在でも振袖は、未婚女性の礼装として主に着られており、成人式などでその華やかさを競う姿は、日本の冬の風物詩としてお馴染みですね。
										</dd>
									</dl>
									<dl class="dl-horizontal">
										<dt>留袖</dt>
										<dd>
											既婚女性が着用する最も格の高い礼装。第一礼装になり、西洋のイヴニングドレスに相当するものです。そもそもは江戸時代、女 性が結婚して振袖を仕立て直し、袖を短くしたもの全般を指していましたが、それが転じて既婚女性が着る着物という意味合いになり ました。結婚式などで親族女性が着用するのは主に黒留袖ですが、宮中では黒は喪の色とされているため、皇族の方は公式の場では色 留袖をお召しになっています。
										</dd>
									</dl>
									<dl class="dl-horizontal">
										<dt>訪問着</dt>
										<dd>
											伝統ある着物の中でも、訪問着は特に新しい歴史を持ちます。明治時代に西洋の文化が流入し、洋服でいうところの「ビジティン グドレス」に相当するものとして考え出された正装で、既婚、未婚問わず着用できるのが特徴です。現在でも友人や知人の結婚式参列 時や、お茶会やパーティなど、多くの場面で利用ができる便利さが人気を呼んでいます。明治の頃には家紋の入ったものが主流でした がそれも廃れ、現在ではその色柄を楽しむ着物として人気があります。
										</dd>
									</dl>
									<dl class="dl-horizontal">
										<dt>小紋</dt>
										<dd>
											着物全体に同じ模様が繰り返し描かれていて、一方向に柄を繰り返していることから名づけられた着物で、正 装としては基本的に用いられず、主に街着としてカジュアルな感覚で着られています。また、合わせる帯や小物などによって印象もガラリと変わるのが小紋の魅力でもあり、レストランやパーティなど、華やかな場にも対応できる幅の広さを楽しめる着物です。
										</dd>
									</dl>
								</div>
							</div>
						</div>
					</section>