<section class="block mb20">
	<div class="banner">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h2 class="title mb10"><span>当日のお申し込みもできます</span>　<!-- <br class="visible-xs"> -->おすすめの浴衣レンタル</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 mb20">
				<a href="/user_data/yukata#woman" class="anchor"><img src="/template/aki/img/yukata/yukata_top_women.jpg" alt="浴衣レンタル　店舗別 女性におすすめの浴衣" class="img-responsive"></a>
			</div>
			<div class="col-sm-6 mb20">
				<a href="/user_data/yukata#man" class="anchor"><img src="/template/aki/img/yukata/yukata_top_men.jpg" alt="浴衣レンタル　店舗別 男性におすすめの浴衣" class="img-responsive"></a>
			</div>
		</div>
	</div>
</section>
