<div class="visible-xs">
	<div class="top_recommend_title top_recommend_title-flow">
		<span class="top_recommend_title_overlay"></span>
		<a class="top_recommend_title_inner" href="/user_data/flow">
			<p class="top_recommend_title_eng">FLOW</p>
			<h2 class="top_recommend_title_jpn">ご利用の流れ</h2>
		</a>
	</div>

	<div class="top_recommend_title top_recommend_title-point">
		<span class="top_recommend_title_overlay"></span>
		<a class="top_recommend_title_inner" href="/user_data/good_point">
			<p class="top_recommend_title_eng">POINT</p>
			<h2 class="top_recommend_title_jpn">着物レンタルあきのこだわり</h2>
		</a>
	</div>

	<div class="top_recommend_title top_recommend_title-service">
		<span class="top_recommend_title_overlay"></span>
		<a class="top_recommend_title_inner" href="/user_data/service">
			<p class="top_recommend_title_eng">SERVICE</p>
			<h2 class="top_recommend_title_jpn">オプションサービス</h2>
		</a>
	</div>
</div>