			<div class="row" id="choose_scene">
				<div class="col-sm-12">
					<section class="block">
						<div class="row">
							<div class="col-sm-12 text-center">
								<div class="">
									<h3 class="title">ご利用<span>の</span>シーン<span>から</span>選ぶ</h3>
									<p>ご利用のシーンをお選びください。</p>
								</div>
							</div>
						</div>
					</section>
					<section class="">
						<div class="row">
							<div class="col-sm-6">
								<div class="top_recommend_title" style="background-image: url(/template/aki/img/choose/ch01.jpg)">
									<!--<span class="top_recommend_title_overlay"></span>-->
									<a class="top_recommend_title_inner" href="/user_data/choose/adult" onclick="gtag('event', 'クリック', {'event_category': 'ご利用シーンから選ぶ','event_label': 'ご利用シーンから選ぶ_成人式'});">
										<h2 class="top_recommend_title_jpn">成人式</h2>
									</a>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="top_recommend_title" style="background-image: url(/template/aki/img/choose/ch02.jpg)">
									<!--<span class="top_recommend_title_overlay"></span>-->
									<a class="top_recommend_title_inner" href="/user_data/choose/graduation_entrance" onclick="gtag('event', 'クリック', {'event_category': 'ご利用シーンから選ぶ','event_label': 'ご利用シーンから選ぶ_卒業式・入学式'});">
										<h2 class="top_recommend_title_jpn">卒業式・入学式</h2>
									</a>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="top_recommend_title" style="background-image: url(/template/aki/img/choose/ch03.jpg)">
									<!--<span class="top_recommend_title_overlay"></span>-->
									<a class="top_recommend_title_inner" href="/user_data/choose/wedding" onclick="gtag('event', 'クリック', {'event_category': 'ご利用シーンから選ぶ','event_label': 'ご利用シーンから選ぶ_結婚式'});">
										<h2 class="top_recommend_title_jpn">結婚式</h2>
									</a>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="top_recommend_title" style="background-image: url(/template/aki/img/choose/ch04.jpg)">
									<!--<span class="top_recommend_title_overlay"></span>-->
									<a class="top_recommend_title_inner" href="/user_data/choose/party" onclick="gtag('event', 'クリック', {'event_category': 'ご利用シーンから選ぶ','event_label': 'ご利用シーンから選ぶ_パーティー・お茶会'});">
										<h2 class="top_recommend_title_jpn">パーティー・お茶会</h2>
									</a>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="top_recommend_title" style="background-image: url(/template/aki/img/choose/ch05.jpg)">
									<!--<span class="top_recommend_title_overlay"></span>-->
									<a class="top_recommend_title_inner" href="/user_data/choose/theater_dinner" onclick="gtag('event', 'クリック', {'event_category': 'ご利用シーンから選ぶ','event_label': 'ご利用シーンから選ぶ_観劇・お食事会'});">
										<h2 class="top_recommend_title_jpn">観劇・お食事会</h2>
									</a>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="top_recommend_title" style="background-image: url(/template/aki/img/choose/ch06.jpg)">
									<!--<span class="top_recommend_title_overlay"></span>-->
									<a class="top_recommend_title_inner" href="/user_data/choose/shrine_visit" onclick="gtag('event', 'クリック', {'event_category': 'ご利用シーンから選ぶ','event_label': 'ご利用シーンから選ぶ_七五三・お宮参り・十三参り'});">
										<h2 class="top_recommend_title_jpn" style="letter-spacing: -0.5px;">七五三・お宮参り・十三参り</h2>
									</a>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="top_recommend_title" style="background-image: url(/template/aki/img/choose/ch07.jpg)">
									<!--<span class="top_recommend_title_overlay"></span>-->
									<a class="top_recommend_title_inner" href="/user_data/choose/fireworks_festival" onclick="gtag('event', 'クリック', {'event_category': 'ご利用シーンから選ぶ','event_label': 'ご利用シーンから選ぶ_花火・お祭り'});">
										<h2 class="top_recommend_title_jpn">花火・お祭り</h2>
									</a>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>