<div class="banner hidden-xs">
    <div class="row">
        <ul class="list-unstyled">
            <li class="col-sm-12 col-xs-6"><a href="/" target="_blank"><button class="btn btn-success btn-lg btn-block">japanese</button></a></li>
            <li class="col-sm-12 col-xs-6"><a href="/user_data/english"><img src="{{ app.config.front_urlpath }}/img/side/englishbar.png" class="img-responsive" alt="for English page welcome to aki kimono Rental"></a></li>
            <li class="col-sm-12 col-xs-6"><a href="/user_data/china"><img src="{{ app.config.front_urlpath }}/img/side/chinabar.png" class="img-responsive" alt="for Chinese page welcome to aki kimono Rental 中国語サイトへ"></a></li>
        </ul>
    </div>
</div>