<div class="hidden-xs">
	<a class="twitter-timeline" data-height="300" href="https://twitter.com/kimono_aki">Tweets by kimono_aki</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
	<style type="text/css">
		#twitter-widget-0 {
			width: 100% !important;
		}
	</style>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
	js = d.createElement(s); js.id = id;
	js.async = true;
	js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.8&appId=455030317948216";
	fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

	<div class="fb-page mt25 mb20" data-href="https://www.facebook.com/kimono.rental.aki.tokyo/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/kimono.rental.aki.tokyo/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/kimono.rental.aki.tokyo/">Kimono Rental AKI　着物レンタルあき</a></blockquote></div>

</div>