<div class="banner visible-xs">
    <div class="row">
        <ul class="list-unstyled">
            <li class="col-xs-6"><a href="https://twitter.com/kimono_aki" target="_blank" class="btn btn-default btn-block"><i class="zmdi zmdi-twitter-box"></i></a></li>
            <li class="col-xs-6"><a href="https://www.facebook.com/kimono.rental.aki.tokyo/" target="_blank" class="btn btn-default btn-block"><i class="zmdi zmdi-facebook"></i></a></li>
        </ul>
    </div>
</div>
