<div class="row mb20">
				<div class="col-sm-12">
					<h2 class="title">店舗情報</h2>
					<div class="row">
						<div class="col-sm-3">
							<h3><a href="/user_data/shop/shibuya">渋谷本店<small>地図</small></a></h3>
							<ul class="list-unstyled">
								<li>東京都渋谷区円山町15-14</li>
								<li>エルアルカサル</li>
								<li>TEL.<a href="tel:0334763341" class="link-blue">03-3476-3341</a></li>
							</ul>
						</div>
						<div class="col-sm-3">
							<h3><a href="/user_data/shop/ginza">銀座店<small>地図</small></a></h3>
							<ul class="list-unstyled">
								<li>東京都中央区銀座8-3-10</li>
								<li>トミタビル3F</li>
								<li>TEL.<a href="tel:0334763341" class="link-blue">TEL： 03-3476-3341</a></li>
							</ul>
						</div>
						<div class="col-sm-3">
							<h3><a href="/user_data/shop/ikebukuro">池袋店<small>地図</small></a></h3>
							<ul class="list-unstyled">
								<li>東京都豊島区南池袋3-16-8</li>
								<li>近代ビル6 2F</li>
								<li>TEL.<a href="tel:03-6416-0529" class="link-blue">03-6416-0529</a></li>
							</ul>
						</div>
						<div class="col-sm-3">
							<h3><a href="/user_data/shop/yokohama">横浜店<small>地図</small></a></h3>
							<ul class="list-unstyled">
								<li>神奈川県横浜市西区高島2-14-11</li>
								<li>第二田浦ビル5階</li>
								<li>TEL.<a href="tel:0454410529" class="link-blue">045-441-0529</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>