{% extends 'default_frame.twig' %}
{% block main %}
<div id="">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h2 class="title">ご利用ガイド</h2>
			</div>
		</div>
	</div>

	<div id="contents" class="main_only">
		<div id="main">
			<div id="guide_box__body"  class="container-fluid">
				<div id="guide_box__body_inner" class="row">
					<div id="guide_box__body_item" class="col-md-10 col-md-offset-1">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
