{% extends 'default_frame.twig' %}
{% block main %}
<div id="">
	<div class="row">
		<div class="col-sm-12 text-center">
			<h2 class="title">プライバシーポリシー</h2>
			<p id="privacy_box__declaration">
				当Webショップの運営は、有限会社ベルコーポレーションが行っております。<br>
				有限会社ベルコーポレーションのプライバシーポリシーは下記の通りです。
			</p>
		</div>
	</div>

	<div id="contents" class="main_only">
		<div id="">
			<div id="privacy_box" class="">
				<div id="privacy_box__body" class="row">
					<div id="privacy_box__body_inner" class="col-md-10 col-md-offset-1">
						<hr>
						<h3 id="privacy_box__lead_header" class="title">はじめに</h3>
						<p id="privacy_box__lead">
							有限会社ベルコーポレーション（以下「当社」といいます）は、個人情報の保護に関する法令を遵守するとともに、以下のポリシーに則りお客さまの個人情報を適正に取り扱います。
						</p>
						<div class="mb10">
							<h3>1．個人情報の収集･利用について</h3>
						</div>
						<p>
							当社では、お客様より個人情報をご提供いただく場合は、あらかじめその利用目的を明示し、その利用目的の範囲に限定して利用します。あらかじめ明示した利用目的の範囲を超えて利用する必要が生じた場合は、その利用目的をお客様にご連絡したうえで、ご同意いただけたのみ利用するようにします。お客様からご提供いただいた個人情報は、主に下記の目的のために利用します。
						</p>
						<ul class="disc">
							<li>ご注文された当社の商品をお届けするうえで必要な業務</li>
							<li>新商品の案内など、お客様に有益かつ必要と思われる情報の提供</li>
							<li>お客様からのお問い合わせ対応</li>
						</ul>
						<div class="mb10">
							<h3>2．個人情報の管理･保護について</h3>
						</div>
						<p>
							個人情報を取り扱う際は、適切な管理を行い、外部からの不正アクセス、紛失、破壊、改ざん及び漏洩等の危険防止に努め、適切かつ合理的なレベルの安全対策を行います。万が一、事故が発生した際は速やかに是正処理を講じます。
						</p>
						<div class="mb10">
							<h3>3．個人情報の第三者への提供について</h3>
						</div>
						<p>
							当社は、法令に基づく場合等不当な理由によらない限り、事前に本人の同意を得ることなく、個人情報を提供することはありません。
						</p>
						<div class="mb10">
							<h3>4．委託先の管理について</h3>
						</div>
						<p>
							当社は、お客様へ商品やサービスを提供する等の業務遂行上、個人情報の一部を外部の委託先へ提供する場合、業務委託先が適切に個人情報を取り扱うように管理いたします。
						</p>
						<div class="mb10">
							<h3>5．個人情報の開示･訂正･利用停止について</h3>
						</div>
						<p>
							当社の保有個人データに監視、お客様が自分自身の個人情報の開示、訂正、利用停止などを希望される場合には、ご本人を確認した上で、当社所定の手続きにより速やかに対応します。
						</p>
						<div class="mb10">
							<h3>6．個人情報保護体制の継続的改善について</h3>
						</div>
						<p>
							当社は、個人情報保護を適切に維持するため、本プライバシーポリシーに基づく規定などを策定、運営し、その内容を定期的にモニターすることによって、これを継続的に改善します。
						</p>
						<div class="mb10">
							<h3>７．お問い合わせ</h3>
						</div>
						<p>
							お客様の個人情報に関するお問い合わせについては、下記有限会社ベルコーポレーションで受け付けております。<br>
							TEL：03-5489-0488<br>
							E-mail：contact@kr-aki.jp<br>
							<br>
							なお、本プライバシーポリシーは予告なしに変更されることがありますことをご了承ください。
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
